.profileContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 70px;
  /* margin-top: 60px; */
 height:max-content;
 padding-top: calc(100vh * (0.1));
}

.imageCont{
  width: 200px;
  height: 200px;
  margin: 20px auto
}

.contenedorProperties {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1px;
}

.propert {
  font-weight: bolder;
}

p{
  margin: 10px 0px 10px 0px;
  padding: 0px;

}

.userProfile {
  border: solid 2px darkblue;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.744);
  color: rgb(0, 0, 0);
  float: left;
  width: 40%;
  font-size: 16px;
}

.userProfile img {
  max-width: 100%;
  height: auto;
}

.configOptions {
  border: solid 2px darkblue;
  border-radius: 20px;
  float: left;
  width: 500px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.744);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.configOptions h1 {
  font-size: 35px;
  color: rgb(0, 0, 0);
}
/* 
.configOptions button {
  width: 70%;
  padding: 10px;
  margin-top: 45px;
  font-size: 16px;
  background-color: #a3b5c8;
  color: white;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.configOptions button:hover {
  background-color: #0056b3;
} */

.configOptions input[type="text"],
.configOptions input[type="password"] {
  width: 50%;
  height: 30%;
  padding: 5px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-right: 5px;
  border: 1px solid #000000;
  border-radius: 4px;
}

/* .configOptions div {
  display: flex;
  justify-content: space-between;
  margin: 20px;
} */

/* .configOptions div button {
  display: flex;
  width: 100%;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.containerPass{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  margin-top: 30px;
  border:2px solid rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
  width: 60%;
 

}
.cancel{
  margin-bottom: 60px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  margin: 10px;
  width: 100px;
  
  
}
.saveChange{
  margin-bottom: 60px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  width: 100px;
  margin: 10px;
}

.containerFoto{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  margin-top: 30px;
  border:2px solid rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 60%;



}
/* .cancelButton{
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 8px;
  margin-right: 100px;
}

.botonn{
  background-color: red;
  height: 60px;
  width:70px;
  margin-top: 70px;
  margin-right:20px
} */


#chpic{
  margin-top: 70px;
  margin-bottom: 20px;
  padding: 5px;
  display: flex;
  width: 30%;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
}

#chpass{
  margin-bottom: 20px;
  padding: 5px;
  display: flex;
  width: 30%;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;

}


.previewImage {
  border-radius: 50%; /* Esto hace que la imagen se muestre como un círculo */
  width: 100%; 
  height: 100%;
  /* object-fit: cover; */
  /* margin-top: 20px; */
}