.card {
  width: 230px;
  height: 340px;
  /* padding: 1em; */
  /* border-radius: 90px; */
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #d4e4f6;
  font-family: Helvetica, sans-serif;
}

.imgProduct {
  height: 90%;
  max-width: 90%; 
  cursor: pointer;
  background-color: #ffffff;
}
.imgProductLink{
  border-radius: 10px 10px 0px 0px;
  background-color: #ffffff;
  height: 150px;
  width: 100%;
  padding: 5px 0 5px 0;
}

.name {
  width: 90%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(38, 37, 37);
  font-size: 16px;
  font-weight: 700;
  font-family:/* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */ Helvetica, sans-serif;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.nameP{
  white-space: initial;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

.data {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 17px;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.BtnAdd{
  display: flex;
  flex-wrap: nowrap;
  justify-items: center;
}

.BtnAdd button {
  background-color:#ffffff;
  color:#5c5e5f;
  height: 38px;
  border-radius: 10px;
  border: 2px solid;
  margin-top: 10px;
  cursor: pointer;
  transform: translateZ(0);
  transition: transform 0.05s ease-out;
}
.BtnAdd button:hover {
  transform: scale(1.05);
}
.addTo {
  font-size: 12px;
  margin: 0px;
  font-weight: 600;
  color: #007bff;
}


#iconCart {
  width: 50px;
  height: 22px;
  color:#007bff;

}

#iconCart:hover{
  color: darkblue;
}

.rating{
  height: max-content;
  display: flex;
  justify-content: center;
  /* background-image: url(${ratingIconPng}); */
}

.backStart{
  display: flex;
  position: relative;
  color: rgb(0, 0, 0, 0.4);
  margin: 2px 0 2px 0;  
}

.frontStart{
  display: flex;
  color: #FFBC0B;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.bntAddMinus{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #82b7f5;
  padding-left: 10%;
  padding-right: 10%;
}
#inpAmount{
  height: 20px;
  width: 30%;
  background: transparent;
  border: none;
  color: black;
  font-weight: bold;
  padding: 2px;
  text-align: center;
  
}
#inpAnount::-webkit-inner-spin-button,
#inpAnount::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
#btnAdd{
  padding: 0;
  margin: 0;
  height: 90%;
  width: 15%;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: black;
  justify-content: center;
  justify-items: center;
}
#btnAdd:hover{
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 0;
}
