.fondo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 90%;
  margin: 0px;
  padding: 0px;
}
.pad{
  width: 100%;
  padding-left: 80px;
  /* margin-top: 90px; */
}

.h1 {
  font-size: 40px;
  width: 500px;
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
margin-top: 90px;

}



.msg {
  right: 0px;
  justify-content: left;
  text-align: left;
}

.h2 {
  width: 600px;
  color: rgb(23, 23, 23);
  font-size: 15px;
}

.h3 {
  width: 600px;
  color: rgb(23, 23, 23);
  font-size: 15px;
}


.h4 {
  width: 600px;
  color: rgb(23, 23, 23);
  font-size: 15px;
}
.buttons {
  display: flex;
  /* width: 100%; */
  /* margin: 20px 0 10px 0;
  gap: 20px; */
}
.newScheduleButton{
  background-color: #02098c;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  height: 60px;
  width: 95px;
  padding: 5px;
  margin-top: 30px;
  margin-left: 60px;
  text-align: center;
}

.aboutUsButton {
  background-color: #02098c;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  height: 60px;
  width: 95px;
  padding: 5px;
  margin-top: 30px;
  margin-left: 70px;
  text-align: center;
}


.newScheduleButton:hover {
  background-color: #f2f7f6;
  color: #02098c;
  transition: background-color 0.3s;
}

/* .aboutUsButton {
  background-color: #02098c;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  height: 60px;
  width: 120px;
  margin-top: 20px;
  margin-left: 50px;
} */

.aboutUsButton:hover {
  background-color: #f2f7f6;
  color: #02098c;
  transition: background-color 0.3s;
}

/* .logo {
    height: 130px;
    width: 130px;
    border-radius: 10px;
    margin-top: 1px;
    margin-bottom: 20px;
    margin-right: 1100px;
  } */
