.paginado {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  background-color:#f1f0f0 ;
  height: max-content;
  width: 100%;
  margin: 0;
  padding: 0;
}
.nav{
  width: 100%;
  margin: 0;
  padding: 0 auto;
}

.number {
  margin: 0 8px;
  margin-top: 20px;
}

.number a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-family:monospace;
  font-weight: 600;
  cursor: pointer;
}

.number a:hover {
  text-decoration: underline;
  color: rgb(21, 36, 150);
}

.arrow {
  margin: 0 8px;
  margin-top: 14px;
}

.arrow a {
  color: #000000;
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
}

.arrow a:hover {
  color: rgb(21, 36, 150);
}

.number a.active {
  color:  #2f8bf4;
}

.disabled a {
  color: #a19e9e;
  cursor: not-allowed;
}
