.contenedorMayor {
  width: 100%;
  background-color: #82b7f5;
  height: 120px;
}

.paginado {
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* align-items: center; */
  /* justify-content:space-between ; */
  background-color: #f1f0f0;
}
/* .containerCards{
  display: flex;
  flex-wrap: nowrap;
  background-color:#accff6;
  height: 50px;
  margin-bottom: 16px;
  
}  */

.filterType {
  width: 1100px;
  height: 17px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  margin-top: 17px;
}

#selectType,
#inpSearch,
#BtnSearch,
#order {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  /* background: rgb(0, 20, 203, 0.8); */
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  border: 2px solid rgb(55, 57, 99);
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  color: black;
}

#selectType:hover,
#inpSearch:hover,
#BtnSearch:hover,
#order:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.4);
}

#selectType {
  width: 120px;
  min-width: max-content;
}

#selectType:focus {
  outline: none;
}
#selectType::-ms-expand {
  background-color: rgb(255, 250, 240);
}

.search {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  gap: 5px;
  border-radius: 10px;

}

.search button {
font-weight: 700;
color:  rgb(55, 57, 99);
  width: max-content;
  gap: 5px;
  border-radius: 10px;

  border: 2px solid rgb(55, 57, 99);
  background-color: rgb(255, 255, 255);
}