.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: max-content;
  padding: 20px;
  gap: 20px;
  background-color: #f1f0f0;
}
.notFound{
  font-size: 4rem;
  color: gray;
  font-weight: bold;
}